.fondoSector {
  --background: #6A040F;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.sector-header {
  background-color: #FFBA08;
  color: #000;
  font-weight: bold;
}

.pedido-card {
  background-color: #E85D04;
    --background: #6A040F;
    
  color: #000;
  border-radius: 12px;
  margin: 3px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  
}

p {
    color: #fff;
}

.item-nombre {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

.btn-completar {
  --background: #FAA307;
  --color: #000;
  border-radius: 8px;
  font-weight: bold;
  width: 100px;
  height: 40px;
}

ion-list,
.item-cliente,
.boton-asignar {
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.fondo-imagen-decorativa {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none; 
  z-index: 0;
   height: 100%;
}

.fondo-imagen-decorativa img {
  width: 100%;
 // max-width: 280px;
  opacity: 0.4;
 // margin-bottom: 1rem;
  border-radius: 12px;
  height: 100%;
}

.img-responsive {
  --background: #FAA307;
  background: #FAA307;
}

.contenedor-vacio {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.logo-vacio {
  max-width: 160px;
  margin-bottom: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.texto-vacio {
  font-size: 1.6rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: bold;
  z-index: 2;
}

.fondo-vacio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
  z-index: -1;
}