<ion-content class="fondoSector">
  <ng-container *ngIf="pedidos.length > 0; else sinPedidos">
  <ion-item color="warning" class="sector-header">
    <ion-label>
      <strong>Pedidos del sector:</strong> {{ sector }}
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let pedido of pedidos" class="pedido-card">
      <ion-label>
        <h3 class="item-nombre">{{ pedido.item_menu }}</h3>
        <p><strong>Sector:</strong> {{ pedido.item_menu_sector }}</p>
        <p><strong>Cantidad:</strong> {{ pedido.cantidad_item_menu }}</p>
      </ion-label>

      <ion-button
        slot="end"
        fill="solid"
        
        size="small"
        class="btn-completar"
        (click)="marcarComoCompletado(pedido.uid,pedido.id_mesa)">
        
        Completar
      </ion-button>
    </ion-item>
  </ion-list>
  <div class="fondo-imagen-decorativa">
    <img src="assets/imgs/fondo.jpg" alt="decoración" />
  </div>
  </ng-container>
    <ng-template #sinPedidos>
    <div class="contenedor-vacio">
      <img src="assets/imgs/logo.jpeg" alt="Logo" class="logo-vacio" />
      <p class="texto-vacio">No hay pedidos pendientes</p>
      <img src="assets/imgs/fondo.jpg" alt="fondo" class="fondo-vacio" />
    </div>
  </ng-template>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="signOut()" class="salir">
      <img src="assets/iconos/cerrar.svg" class="img-responsive" />
    </ion-fab-button>
    </ion-fab>
</ion-content>
