<ion-header class="header-custom">
  <ion-toolbar color="danger">
    <ion-title class="titulo-lista">Lista de Espera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contenido-lista" [fullscreen]="true">
  <ion-list *ngIf="clientes.length > 0; else sinClientes" class="lista-clientes">
    <ion-item *ngFor="let cliente of clientes" class="item-cliente">
      <ion-label>
        <h2 class="nombre-cliente">{{ cliente.nombre }} {{ cliente.apellido }}</h2>
        <p class="dni-cliente">DNI: {{ cliente.dni }}</p>
      </ion-label>
      <ion-button slot="end" (click)="asignarMesa(cliente)" color="warning" class="boton-asignar">
        Asignar Mesa
      </ion-button>
    </ion-item>
    <div *ngIf="clientes.length < 4" class="relleno-imagen">
      
    </div>
  </ion-list>

  <ng-template #sinClientes>
    <div class="sin-clientes">
      <img src="assets/vacio.svg" alt="sin clientes" />
      <ion-text color="medium">
        <p>No hay clientes en espera actualmente.</p>
      </ion-text>
    </div>
  </ng-template>
</ion-content>
