<ion-content class="fondo">

  <ion-title class="titulo">Menú</ion-title>

  <div>
    <ion-card-content *ngFor="let p of productos">
      <ion-card>
        <img [src]="p.fotos" class="foto">
        <p>{{p.descripcion}}</p>
        <p>⏱ {{p.tiempo_elaboracion}} min</p>
        <p> ${{p.precio}}</p>

        <div class="">
          <input type="number" [(ngModel)]="productos" class="cantidad" placeholder="escribe la cantidad">
          <ion-button (click)="agregarProducto(p)" class="btn_agregar"><img src="assets/iconos/agregar_pedido.svg" width="50px"></ion-button>
        </div>
      </ion-card>
    </ion-card-content>
  </div>

  <ion-button>finalizar pedido</ion-button>
  <ion-button>volver atrás</ion-button>

</ion-content>