<ion-content class="fondo">

  <ion-title class="titulo">Menú</ion-title>

  <div>
    <ion-card-content *ngFor="let p of productos">
      <ion-card>
        <img [src]="p.fotos" class="foto">
        <p>{{p.descripcion}}</p>
        <p>⏱ {{p.tiempo_elaboracion}} min</p>
        <p> ${{p.precio}}</p>

        <div class="">
          <input type="number" [(ngModel)]="cantidad" class="cantidad" placeholder="escribe la cantidad">
          <ion-button (click)="agregarAlPedido(p)" class="btn_agregar"><img src="assets/iconos/agregar_pedido.svg" width="50px"></ion-button>
        </div>
      </ion-card>
    </ion-card-content>
  </div>

  <div class="botones">
    <ion-button class="btn_finalizar" (click)="finalizarPedido()">finalizar pedido</ion-button>
    <ion-button class="btn_volver" routerLink="/mesa">volver atrás</ion-button>
  </div>

</ion-content>