<ion-content class="fondo">

  <ion-header>
    <ion-toolbar class="header">
      <ion-title class="titulo">Menú</ion-title>
      <div class="bototnes">
        <div class="bototnes">
          <ion-button class="btn_atajo" (click)="scrollTo('comidas')">Comidas</ion-button>
          <ion-button class="btn_atajo" (click)="scrollTo('bebidas')">Bebidas</ion-button>
          <ion-button class="btn_atajo" (click)="scrollTo('postres')">Postres</ion-button>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="fondo_precio">
    <ion-title class="precio">${{precioTotal}}</ion-title>
  </div>

  <h2>comidas</h2>
  <div id="comidas">
    <ion-card-content *ngFor="let p of comidas">
      <ion-card>
        <img [src]="p.fotos" class="foto">
        <p>{{p.descripcion}}</p>
        <p>⏱ {{p.tiempo_elaboracion}} min</p>
        <p> ${{p.precio}}</p>

        <div class="">
          <input type="number" [(ngModel)]="cantidad" class="cantidad" placeholder="escribe la cantidad">
          <ion-button (click)="agregarAlPedido(p)" class="btn_agregar"><img src="assets/iconos/agregar_pedido.svg"
              width="50px"></ion-button>
        </div>
      </ion-card>
    </ion-card-content>
  </div>

  <h2>bebidas</h2>
  <div id="bebidas">
    <ion-card-content *ngFor="let p of bebidas">
      <ion-card>
        <img [src]="p.fotos" class="foto">
        <p>{{p.descripcion}}</p>
        <p>⏱ {{p.tiempo_elaboracion}} min</p>
        <p> ${{p.precio}}</p>

        <div class="">
          <input type="number" [(ngModel)]="cantidad" class="cantidad" placeholder="escribe la cantidad">
          <ion-button (click)="agregarAlPedido(p)" class="btn_agregar"><img src="assets/iconos/agregar_pedido.svg"
              width="50px"></ion-button>
        </div>
      </ion-card>
    </ion-card-content>
  </div>

  <h2>postres</h2>
  <div id="postres">
    <ion-card-content *ngFor="let p of postres">
      <ion-card>
        <img [src]="p.fotos" class="foto">
        <p>{{p.descripcion}}</p>
        <p>⏱ {{p.tiempo_elaboracion}} min</p>
        <p> ${{p.precio}}</p>

        <div class="">
          <input type="number" [(ngModel)]="cantidad" class="cantidad" placeholder="escribe la cantidad">
          <ion-button (click)="agregarAlPedido(p)" class="btn_agregar"><img src="assets/iconos/agregar_pedido.svg"
              width="50px"></ion-button>
        </div>
      </ion-card>
    </ion-card-content>
  </div>

  <div class="botones">
    <ion-button class="btn_finalizar" (click)="finalizarPedido()">finalizar pedido</ion-button>
    <ion-button class="btn_volver" routerLink="/mesa">volver atrás</ion-button>
  </div>

</ion-content>