<ion-content class="fondo" [fullscreen]="true">

  <ion-card-content class="card">
    <ion-card-header class="titulo">
      Califica la atención recibida
    </ion-card-header>

    <ion-card class="calificacion">
      <img *ngFor="let estrella of estrellasMap['atencion_cliente']; let i = index"
        [src]="estrella === 'llena' ? 'assets/iconos/estrella_amarilla.svg' : 'assets/iconos/estrella_vacia.svg'"
        class="foto_estrella" (mouseover)="cambiarEstrella(i, 'atencion_cliente')"
        (click)="guardarCalificacion('atencion_cliente', i)" />
    </ion-card>
  </ion-card-content>

  <ion-card-content class="card">
    <ion-card-header class="titulo">
      Califica la comida
    </ion-card-header>

    <ion-card class="calificacion">
      <img *ngFor="let estrella of estrellasMap['comida']; let i = index"
        [src]="estrella === 'llena' ? 'assets/iconos/estrella_amarilla.svg' : 'assets/iconos/estrella_vacia.svg'"
        class="foto_estrella" (mouseover)="cambiarEstrella(i, 'comida')" (click)="guardarCalificacion('comida', i)" />
    </ion-card>
  </ion-card-content>

  <ion-card-content class="card">
    <ion-card-header class="titulo">
      Califica la limpieza
    </ion-card-header>

    <ion-card class="calificacion">
      <img *ngFor="let estrella of estrellasMap['limpieza']; let i = index"
        [src]="estrella === 'llena' ? 'assets/iconos/estrella_amarilla.svg' : 'assets/iconos/estrella_vacia.svg'"
        class="foto_estrella" (mouseover)="cambiarEstrella(i, 'limpieza')"
        (click)="guardarCalificacion('limpieza', i)" />
    </ion-card>
  </ion-card-content>

  <ion-card-content class="card">
    <ion-card-header class="titulo">¿como conociste nuestro local?</ion-card-header>
    <ion-card class="botones">
        <ion-button class="btn_accion" (click)="guardarComoConocio(0)" expand="block" fill="clear"
          shape="round">recomendacion</ion-button>
        <ion-button class="btn_accion" (click)="guardarComoConocio(1)" expand="block" fill="clear" shape="round">redes
          sociales</ion-button>
        <ion-button class="btn_accion" (click)="guardarComoConocio(2)" expand="block" fill="clear"
          shape="round">publicidad</ion-button>
        <ion-button class="btn_accion" (click)="guardarComoConocio(3)" expand="block" fill="clear"
          shape="round">Otro</ion-button>

    </ion-card>
  </ion-card-content>

  <ion-card-content class="card">
    <ion-card-header class="titulo">agrega un comentario sobre tu estadía </ion-card-header>
    <ion-card>
      <ion-textarea class="txtbox_comentario" [(ngModel)]="opinion_general" maxlength="250"></ion-textarea>
    </ion-card>
  </ion-card-content>

  <ion-card-content class="card">
    <ion-card-header class="titulo">agrega fotos (3 max) </ion-card-header>
    <ion-card class="calificacion">
      <ion-button class="imagen" (click)="tomarFoto()">
        <img src="assets/iconos/camara.svg">
      </ion-button>
    </ion-card>
  </ion-card-content>

  <ion-button class="btn_accion" expand="block" fill="clear" shape="round" (click)="guardarEncuesta()">terminar
    encuesta</ion-button>
  <ion-button class="btn_accion" expand="block" fill="clear" shape="round" routerLink="/mesa">cancelar</ion-button>

</ion-content>