<ion-content class="fondoPedidos">
  <ng-container *ngIf="(pedidosAgrupados | keyvalue) as mesas" >

 
  <ng-container *ngIf="mesas.length > 0; else sinPedidos">
    <div *ngFor="let mesa of mesas" class="mesa-container">

      <ion-item color="warning" class="mesa-header">
        <ion-label>
          <strong>Mesa:</strong> {{ mesa.key }}
        </ion-label>
        
      </ion-item>

      <ion-list>
        <ion-item *ngFor="let pedidos of mesa.value" class="pedido-card">
          <ion-label>
          <h3 class="item-nombre">{{ pedidos.item_menu }}</h3>
          <div class="detalle-linea">
            <span class="label">📍 Sector:</span>
            <span class="valor">{{ pedidos.item_menu_sector }}</span>
          </div>
          <div class="detalle-linea">
            <span class="label">🔢 Cantidad:</span>
            <span class="valor">{{ pedidos.cantidad_item_menu }}</span>
          </div>
          <div class="detalle-linea">
            <span class="label">💲Precio:</span>
            <span class="valor">${{ pedidos.precio_total }}</span>
          </div>
          <div class="detalle-linea">
            <span class="label">📅 Fecha:</span>
            <span class="valor">{{ pedidos.fecha_pedido | date: 'dd/MM/yyyy' }}</span>
          </div>
          <div class="detalle-linea">
            <span class="label">⏳ Estado:</span>
            <span class="valor">{{ pedidos.estado }}</span>
          </div>
        </ion-label>

          <ion-button
            slot="end"
            size="small"
            color="success"
            fill="outline"
            *ngIf="pedidos.estado === 'listo para entregar'"
            (click)="entregarPedido(pedidos.uid)">
            Entregar
          </ion-button>
          <ion-button 
          slot="end"
          size="small"
          fill="solid"
          color="success"
          *ngIf="pedidos.estado === 'pendiente'"
          (click)="aprobarPedidosPorMesa(mesa.key)">
          Aprobar Pedido
        </ion-button>
        </ion-item>
      </ion-list>

    </div>
    <div class="fondo-imagen-decorativa">
    <img src="assets/imgs/fondo.jpg" alt="decoración" />
  </div>
  </ng-container>
   </ng-container>

  

  <ng-template #sinPedidos>
    <div class="contenedor-sin-pedidos">
      <img src="assets/imgs/logo.jpeg" alt="Logo" class="logo-sin-pedidos" />
      <p class="texto-sin-pedidos">No hay pedidos pendientes</p>
      <img src="assets/imgs/fondo.jpg" class="fondo-sin-pedidos" />
    </div>
  </ng-template>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="signOut()" class="salir">
      <img src="assets/iconos/volverAtras.svg" class="img-responsive" />
    </ion-fab-button>
  </ion-fab>
</ion-content>
