<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label class="ion-text-center">
      <p style="font-size: 20px;">¿Cómo calificarías la comida?</p>
    </ion-label>
  </ion-item>
  <canvas id="comidaChart" height="300"></canvas>

  <ion-item>
    <ion-label class="ion-text-center">
      <p style="font-size: 20px;">¿Cómo calificarías la atención al cliente?</p>
    </ion-label>
  </ion-item>
  <canvas id="atencionChart" height="300"></canvas>

  <ion-item>
    <ion-label class="ion-text-center">
      <p style="font-size: 20px;">¿Cómo calificarías la limpieza?</p>
    </ion-label>
  </ion-item>
  <canvas id="limpiezaChart" height="300"></canvas>

  <ion-item>
    <ion-label class="ion-text-center">
      <p style="font-size: 20px;">¿Cómo nos conociste?</p>
    </ion-label>
  </ion-item>
  <canvas id="conocioChart" height="300"></canvas>
</ion-content>