.login-content {
  --background: linear-gradient(to bottom, #6A040F, #9D0208);
  background: var(--background);
  color: #FFBA08;
  font-family: 'Amoresa', sans-serif;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 20px;
  gap: 20px;
}

.inputbox {
  width: 100%;
  max-width: 320px;
  background: #D00000;
  border: 2px solid #FAA307;
  border-radius: 25px;
  margin-top: 10px;
  padding: 8px 16px;
}

.login-input {
  --background: transparent;
  --color: #FFBA08;
  --placeholder-color: #FFBA08;
  color: #FFBA08;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
}

.login-btn {
  --background: #E85D04;
  --color: black;
  --border-radius: 30px;
  font-weight: bold;
  font-size: 1rem;
  max-width: 320px;
  margin-top: 20px;
  transition: 0.3s ease-in-out;
}

.login-btn:hover {
  --background: #FFBA08;
  --color: #6A040F;
  --border-radius: 30px;
}

.login-title {
  text-align: center;
  font-size: 2rem;
  margin: 10px 0;
  font-weight: bold;
  color: #FFBA08;
}

.text {
  color: #FFBA08;
}

.error-message {
  color: #FFBA08;
  background-color: #6A040F;
  border: 1px solid #D00000;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 15px;
  max-width: 320px;
  text-align: center;
}

.inputbox.input-icon-right {
  position: relative;
  display: flex;
  align-items: center;
  background: #D00000;
  border: 2px solid #FAA307;
  border-radius: 25px;
  padding: 8px 16px;
  margin-top: 10px;
  max-width: 320px;
}

.inputbox.input-icon-right ion-input {
  width: 100%;
  padding-right: 30px;
}

.inputbox.input-icon-right i {
  position: absolute;
  right: 16px;
  font-size: 1.2rem;
  color: #FFBA08;
  pointer-events: none;
}

.quick-users-row {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 12px;
}

.user-button ion-button {
  --border-radius: 5px;
  width: 90px;
  height: 90px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  --background: #F48C06;
  --color: #000;
  align-items: center;
  justify-content: center;
}

.user-button img {
  width: 60px;
  height: 60px;
}

.logo{
  width: 100px;
  
}

.logo img {
  border-radius: 50%;
}