.splash-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #880609;
	display: flex;
	justify-content: center;
	align-items: center;
}

.splash-screen img {
	max-width: 90vw;
	max-height: 90vh;
	width: auto;
	height: auto;
}