:host {
  ion-content.fondo {
    --background: none;
    background: linear-gradient(to bottom, #6A040F, #E85D04) !important;
  }
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
}

ion-card {
  width: 100%;
  max-width: 400px;
  background: #FAA307 !important;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #6A040F;
  z-index: 1;
  padding-bottom: 1rem;
}

ion-card-title {
  font-family: 'Amoresa', sans-serif;
  font-size: 26px;
  color: #6A040F;
  text-align: center;
  margin-bottom: 0.5rem;
}

ion-button {
  --background: #6A040F;
  --color: #fff;
  --border-radius: 10px;
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

ion-button:hover {
  --background: #E85D04;
}

.img-card {
  border-radius: 50%;
}

.btn_accion {
  font-size: 18px;
  height: 50px;
}
