<ion-header [translucent]="true">
  <ion-toolbar color="fondo">
    <ion-title class="titulo">
      BIENVENIDO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!escaneando"  [fullscreen]="true" class="fondo">
   <ion-spinner *ngIf="cargando" name="crescent" color="warning"></ion-spinner>

   <div class="formulario">
    <h2 class="subtitulo">Escanear QR para entrar en lista de espera</h2>

    <ion-button expand="block" (click)="escanearQrYEntrarLista()" class="login-btn">
      <img src="assets/imgs/consultas_mesa.png" alt="">
    </ion-button>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="signOut()" class="salir">
      <img src="assets/iconos/cerrar.svg" class="img-responsive" />
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-content *ngIf="escaneando" class="fondoTransparente">

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="cancelarEscaneo()" class="salir">
      <img src="assets/iconos/atras.svg" class="salir" />
    </ion-fab-button>
  </ion-fab>

</ion-content>