<ion-content *ngIf="!escaneando" class="fondo" [fullscreen]="true">

  <div *ngIf="tipo === ''" class="decision">
    <ion-title class="titulo">Registrase</ion-title>

    <ion-button class="anonimo" fill="clear" (click)="definirTipo('anonimo')">
      <div class="button-content">
        <img src="assets/accesos_rapidos/anonimo.png" />
      </div>
    </ion-button>

    <ion-button class="identificado" fill="clear" (click)="definirTipo('identificado')">
      <div class="button-content">
        <img src="assets/accesos_rapidos/usuario.png" />
      </div>
    </ion-button>

  </div>

  <div class="formulario" *ngIf="tipo === 'identificado'">
    <ion-title class="titulo">como Usuario</ion-title>
    <div class="inputbox input-icon-right">
      <ion-input type="text" placeholder="Ingrese su nombre" [(ngModel)]="nombre" class="login-input">
      </ion-input>
    </div>

    <div class="inputbox input-icon-right">
      <ion-input type="text" placeholder="Ingrese su apellido" [(ngModel)]="apellido" class="login-input">
      </ion-input>
    </div>

    <div class="inputbox input-icon-right">
      <ion-input type="text" placeholder="Ingrese su DNI" [(ngModel)]="dni" class="login-input">
      </ion-input>
      <ion-button class="btn_barras" (click)="scan()">
        <img src="assets/iconos/codigo_barras.svg" class="codigo_barras">
      </ion-button>
    </div>


    <div class="inputbox input-icon-right">
      <ion-input type="text" placeholder="Ingrese su correo" [(ngModel)]="correo" class="login-input">
      </ion-input>
    </div>

    <div class="inputbox input-icon-right">
      <ion-input type="password" placeholder="Ingrese su contraseña " [(ngModel)]="clave" class="login-input">
      </ion-input>
    </div>
    <div class="inputbox input-icon-right">
      <ion-input type="password" placeholder="repite la contraseña" [(ngModel)]="claveRepetida" class="login-input">
      </ion-input>
    </div>

    <ion-button class="imagen" (click)="tomarFoto()">
      <img src="assets/iconos/camara.svg">
    </ion-button>

    <ion-button class="login-btn" (click)="registrar()">Registrase</ion-button>
  </div>

  <div *ngIf="tipo==='anonimo'" class="formulario">
    <ion-title class="titulo">como Anónimo</ion-title>

    <div class="inputbox input-icon-right">
      <ion-input type="text" placeholder="Ingrese su nombre" [(ngModel)]="nombre" class="login-input">
      </ion-input>
    </div>

    <ion-button class="imagen" (click)="tomarFoto()">
      <img src="assets/iconos/camara.svg">
    </ion-button>

    <ion-button class="login-btn" (click)="registrar()">Registrase</ion-button>
  </div>

</ion-content>

<ion-content *ngIf="escaneando" class="fondoTransparente">

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="cancelarEscaneo()" class="salir">
      <img src="assets/iconos/atras.svg" class="salir" />
    </ion-fab-button>
  </ion-fab>

</ion-content>