<ion-header>
  <ion-toolbar>
    <ion-title>Clientes Pendientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!cargando; else loading">
  
  <div class="img-fondo" [ngStyle]="{'background-image': 'url(assets/imgs/fondo-alimentario.avif)'}"></div>
  <ion-list *ngIf="clientesPendientes.length > 0; else sinClientes">
    <ion-item *ngFor="let cliente of clientesPendientes">
      <ion-avatar slot="start">
        <img [src]="cliente.foto" />
      </ion-avatar>
      <ion-label>
        <h2>{{ cliente.nombre }} {{ cliente.apellido }}</h2>
        <p>{{ cliente.correo }}</p>
      </ion-label>
      <div class="buttons">
        <ion-button color="success" slot="end" (click)="aprobar(cliente.uid)">
        Aprobar
      </ion-button>
       <ion-button color="danger" slot="end" (click)="rechazar(cliente.uid)">
        Rechazar
      </ion-button>
      </div>
      
    </ion-item>
  </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="signOut()" class="btn_cerrarSesion">
      <img src="assets/iconos/cerrar.svg" class="img-responsive" />
    </ion-fab-button>
  </ion-fab>
  
</ion-content>

<ng-template #loading>
  <ion-spinner name="crescent"></ion-spinner>
</ng-template>

<ng-template #sinClientes>
  <div class="contenedor-vacio">
    <img src="assets/imgs/logo.jpeg" alt="Logo" class="logo-vacio" />
    <p class="texto-vacio">No hay clientes pendientes</p>
    <div class="fondo-vacio"></div>
  </div>
</ng-template>
