.btn_cerrarSesion img{
    --background: #FAA307 ;
    background: #FAA307 ;
}

ion-header {
  ion-toolbar {
    --background: #FAA307;
    --color: white;
    text-align: center;
  }
}

ion-content {
  //--background: #fffaf4;
    
  ion-list {
    background-color: transparent;
    ion-item {
      --background: #fff3e6;
      margin: 8px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.05);
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.01);
      }

      ion-avatar {
  width: 56px;
  height: 56px;
  border: 2px solid #E85D04;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // 🔥 Esto es clave
    border-radius: 50%;
  }
}
      ion-label h2 {
        color: #6A040F;
        font-weight: bold;
        margin-bottom: 4px;
      }

      ion-label p {
        color: #6C757D;
        font-size: 0.9em;
      }

      ion-button[color="success"] {
        --background: #E85D04;
        --color: white;
      }

      ion-button[color="danger"] {
        --background: #D00000;
        --color: white;
      }
    }
  }

  

  ion-spinner {
    display: block;
    margin: 0 auto;
    color: #E85D04;
  }

  ion-text {
    color: #6C757D !important;
    font-style: italic;
    text-align: center;
    display: block;
    padding: 20px 0;
  }
}

.img-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.es%2Fvector-premium%2Ffondo-vector-comida-rapida_226290256.htm&psig=AOvVaw2vq3Ft4M63BeEkU096GfiO&ust=1750095002099000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCPD-6JH6840DFQAAAAAdAAAAABAl');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15; // opcional, lo hace sutil
  z-index: 0;
}

/* Asegurar que el contenido esté por encima */

